@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/*

GENERICS

*/
ul {
  display: flex;
  align-items: baseline;
}

nav {
  padding: 32px;
}


.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #3c0d99;
  font-size: 48px;
  font-weight: 900;
}

img {
  width: 100%;
  height: auto;
}

li {
  display: flex;
  list-style-type: none;
  align-items: center;
}

svg {
  padding: 4px;
  align-items: center;
  color: #6415ff;
}

/* 

NAVIGATION 

*/

.nav__links {
  font-size: 48px;
}

.nav__link {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 4px;
  margin: 0 48px 0 0;
  transition: all 450ms ease;
}

.nav__link:hover {
  border-bottom: 2px solid black;
}

.nav__link--primary {
  padding: 12px 24px;
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 4px;
  font-weight: 500;
  transition: all 450ms ease;
}

.nav__link--primary:hover {
  background-color: #3c0d99;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--container {
  display: flex;
  align-items: center;
}

.nav__logo--container,
.nav__link,
.nav__link--primary {
  cursor: pointer;
}

.nav__img {
  width: 40px;
  margin-right: 12px;
}

.nav__logo {
  font-size: 24px;
  font-weight: 800;
  color: #243e63;
  transition: all 450ms ease;
}

.nav__logo:hover {
  color: #6415ff;
}

.nav__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

.update-notice {
  padding: 16px 20px;
  margin: 32px 0;
  display: flex;
  color: #9c4221;
  background-color: #fffaf0;
}

.wifi-symbol {
  color: #9c4221;
  align-items: center;
}

.header__container {
  display: flex;
  margin: 0 16px;
}

.header__description,
.header__features {
  margin-top: 24px;
}

.header__description {
  line-height: 1.5;
}

.header__features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 2;
  width: 100%;
  max-width: 576px;
}

.header__row,
.img__container {
  width: 50%;
}

.img__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__feature--left, .header__feature--right {
  width: 50%;
}

.header__feature {
  font-size: 18px;
  margin-right: 16px;
  
}

.header__feature--description {
  margin-left: 8px;
}

.demos,
.components {
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  transition: all 450ms ease;
}

.components {
  background-color: #e2e8f0;
}

.components:hover {
  background-color: #cbd5e0;
}

.demos {
  background-color: #6415ff;
  color: #f7fafc;
  margin-right: 36px;
}

.demos:hover {
  background-color: #3c0d99;
}

.buttons {
  margin: 24px 36px 0 0;
  display: flex;

}


/* HERO SECTION */


  
.hero-section__title {
  display: inline-block;
  margin: 48px 32px;
  padding-bottom: 5px;
  font-size: 40px;
  font-weight: 900;
  color: #6415ff;
  border-bottom: 4px solid #6415ff;
}

.hero-section__header {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 20px 32px;
}

.hero-illustration {
  font-size: 18px;
}

.hero-demo {
  color: #6415ff;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.demo-arrow {
  width: 25px;
  height: 25px;
}

.hero-section__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}