@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  
}

/*

GENERICS

*/
ul {
  display: flex;
  /* align-items: baseline; */
}

nav {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 16px;
}

h1 {
  color: #3c0d99;
  font-size: 48px;
  font-weight: 900;
}

img {
  width: 100%;
  height: auto;
}

li {
  display: flex;
  list-style-type: none;
  align-items: center;
  cursor: pointer;
}

svg {
  padding: 4px;
  align-items: center;
  color: #6415ff;
}

.purple {
  color: #6415ff;
}
form {
  position: relative;
  margin: 32px 0;
  border-color: rgb(226, 232, 240);
}

/* 

NAVIGATION 

*/

.nav__links {
  font-size: 48px;
}

.nav__link {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 4px;
  margin: 0 48px 0 0;
  transition: all 450ms ease;
}

.nav__link:hover {
  border-bottom: 2px solid black;
}

.nav__link--primary,
.hero-section__nav-link--primary {
  padding: 12px 24px;
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 4px;
  font-weight: 500;
  transition: all 450ms ease;
}

.nav__link--primary:hover,
.hero-section__nav-link--primary:hover {
  background-color: #3c0d99;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo--container, .footer--img__container {
  display: flex;
  align-items: center;
}

.nav__logo--container,
.nav__link,
.nav__link--primary {
  cursor: pointer;
}

.nav__img,
.hero-section__nav--img {
  width: 40px;
  margin-right: 12px;
}

.nav__logo,
.hero-section__nav--logo, .footer__logo {
  font-size: 24px;
  font-weight: 800;
  color: #243e63;
  transition: all 450ms ease;
}

.nav__logo:hover {
  color: #6415ff;
}

.nav__row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */

.update-notice {
  padding: 16px 20px;
  margin: 32px 16px;
  display: flex;
  color: #9c4221;
  background-color: #fffaf0;
}

.wifi-symbol {
  color: #9c4221;
  align-items: center;
}

.header__container {
  display: flex;
  margin: 0 16px;
}

.header__description,
.header__features {
  margin-top: 24px;
}

.header__description {
  line-height: 1.5;
}

.header__features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 2;
  width: 100%;
  max-width: 576px;
}

.header__row,
.img__container {
  width: 50%;
}

.img__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__feature--left,
.header__feature--right {
  width: 50%;
}

.header__feature {
  font-size: 18px;
  margin-right: 16px;
}

.header__feature--description {
  margin-left: 8px;
}

.demos,
.components {
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  transition: all 450ms ease;
}

.components {
  background-color: #e2e8f0;
}

.components:hover {
  background-color: #cbd5e0;
}

.demos {
  background-color: #6415ff;
  color: #f7fafc;
  margin-right: 36px;
}

.demos:hover {
  background-color: #3c0d99;
}

.buttons {
  margin: 24px 36px 0 0;
  display: flex;
}

/* HERO SECTION */



.hero-section__title {
  display: inline-block;
  margin: 48px 32px;
  padding-bottom: 5px;
  font-size: 40px;
  font-weight: 900;
  color: #6415ff;
  border-bottom: 4px solid #6415ff;
}

.hero-section__header,
.amazing-section--header,
.amazing__container,
.pricing__container,
.pricing-section--header {
.hero-section__header, .amazing-section--header, .amazing__container, .pricing__container, .pricing-section--header {
  display: flex;
  justify-content: space-between;
  margin: 0 32px;
  border: 1px solid gray;
  border-radius: 8px 8px 0 0;
  padding: 20px 32px;
}

.hero-illustration,
.amazing-illustration,
.pricing-illustration {
.hero-illustration, .amazing-illustration, .pricing-illustration {
  font-size: 18px;
}

.demo {
  color: #6415ff;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.demo-arrow {
  width: 25px;
  height: 25px;
  align-items: center;
}

.hero-section__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 32px;
  padding: 24px 32px;
  border: 1px solid gray;
  border-bottom: none;
}

.hero-section__nav--logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.hero-section__nav--links {
  font-size: 14px;
  font-weight: 700;
}

.hero-section__nav-link {
  padding: 0 0 4px;
  margin: 0 48px 0 0;
  border-bottom: 2px solid white;
  transition: all 450ms ease;
}

.hero-section__nav--logo:hover {
  color: #6415ff;
}

.hero-section__nav-link:hover {
  border-bottom: 2px solid #6415ff;
  color: #6415ff;
}

.hero-section__nav-link--login {
  margin-bottom: 0;
}

.generic__links {
  display: flex;
  margin-right: 32px;
}

.sign-up__links {
  display: flex;
  align-items: center;
}

.react__container {
  display: flex;
  border: 1px solid gray;
  border-radius: 0 0 8px 8px;
  border-top: none;
  margin: 0 32px 16px 32px;
}

.react__templates {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 24px 32px;
}

.react__img--wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-img {
  width: 100%;
  max-width: 500px;
}

.react__templates--header {
  font-size: 36px;
  margin: 28px 0;
}

.react__templates--description {
  line-height: 1.5;
  font-weight: 400;
  color: #243e63;
}

.email-signup {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  padding: 16px 0;
  width: 50%;
  background-color: #6415ff;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: all 450ms ease;
}

.email-signup:hover {
  background-color: #3c0d99;
}

#email {
  border-radius: 50px;
  padding: 24px 192px 24px 24px;
  border-width: 2px;
  width: 100%;
  font-size: 16px;
  padding-left: 20px;
  color: rgb(226, 232, 240);
  border-color: rgb(226, 232, 240);
}

.trusted-customers__header {
  font-size: 14px;
  margin-bottom: 16px;
}

.trusted-customers {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 60px 0;
  color: rgb(143, 147, 151);
}

/* SERVICES */

.centered {
  margin: 0 auto;
}

.amazing__container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 8px 8px;
}

.amazing__container--title {
  padding: 32px 0 16px 0;
  font-size: 48px;
}

.amazing__container--description {
  width: 100%;
  max-width: 750px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: rgb(124 139 161);
  text-align: center;
}

.services {
  padding: 64px 32px 0 32px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  
}

.service:nth-child(-n + 3) {
  margin-bottom: 48px;
}

.service:nth-child(-n + 3) {
  margin-bottom: 48px;
}

.service__header {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 16px;
}

.service__img {
  box-sizing: border-box;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid lightgray;
  padding: 18px;
.service__img{
  box-sizing: border-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid  lightgray;
    padding: 18px;
    
}

.service__description {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: rgb(124 139 161);
}

.span-img__container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 45px;
 width: 100%;
 max-width: 45px;
 
}

.span__container {
  margin: 8px 0 0 16px;
}

/* PRICING PLANS */

.plan--description__container {
.plan__container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  margin: 0 32px;
}

.plan__container {
  height: 100%;
  height: 650px;
 
  margin: 0 auto;
  border: 1px solid gray;
}

.pricing--header__small {
  padding-bottom: 24px;
}

.pricing__header {
  
}

.pricing__header{
  font-size: 48px;
  font-weight: 900;
}

.pricing__description {
  width: 100%;
  max-width: 550px;
  line-height: 2;
  color: #7c8ba1;
  margin: 24px 0;
  font-weight: 500;
  font-size: 16px;
}
.plans {
  display: flex;
  height: 100%;
  margin: 0 auto;
  max-width: 1100px;
  color: #7C8BA1;
  margin: 24px 0;
  font-weight: 500;
  font-size: 16px;

}
.plans {
  display: flex;
  flex-wrap: wrap;
}

.plan {
  width: calc(100% / 3);
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  position: relative;
  /* padding-right: 40px; */
  flex-wrap: nowrap;
  margin-right: 2rem;
}
.plan__type {
  margin: 0 auto;
  text-align: center;
}

.plan--type__header {
  padding: 48px 0 16px 0;
  font-weight: 800;
  font-size: 20px;
}

.plan:nth-child(2) {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  /* padding-right: 40px; */
}


.topper__color1, .topper--active, .topper__color3 {
  height: 2%;
  width: 100%;
  border-radius: 4px 4px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  
}

.topper__color1, .blue__gradient {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.active, .blue__gradient, .red__gradient {
  color: white;
}

.topper__color3, .red__gradient {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan--features__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.plan--features__list li:nth-child(5){
  padding-bottom: 24px;
}

.plan__price {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 16px;
}
.plan__frequency {
  font-weight: 800;
  padding-bottom: 48px;
}

.plan--features__header {
  font-weight: 700;
  font-size: 20px;
}
.spacing {
  line-height: 3;
}

.buy--now__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.purple__button {
  background-color: white;
  color: #6415ff;
}

.buy__now {
 padding: 24px 40px;
 top: 28px;
 left: 85px;
 font-weight: 800;
 position: absolute;
 border-radius: 50px;
 width: 65%;
 display: inline-block;
 justify-content: center;
 align-items: center;
 border: 2px solid #7c8ba1;
 cursor: pointer;
}

/* FOOTER */

footer {
  height: 450px;
  background-color: #6415ff;
  color: white;
  position: relative;
  margin: 80px 35px 15px 50px;
  overflow: hidden;
}

footer::before {
  content: "";
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #3c0d99;
  filter: brightness(145%);
  display: inline-block;
  position: absolute;
  top: -100px;
  left: -120px;
  
}

footer::after {
  content: "";
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #3c0d99;
  filter: brightness(145%);
  display: inline-block;
  position: absolute;
  bottom: -170px;
  right: -140px;
  
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  border-bottom: 2px solid rgb(116, 44, 255);
  padding-bottom: 4rem;
}

.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  max-height: 200px;
  line-height: 2;
  font-size: 14px;
  flex-wrap: nowrap;
  padding-left: 10px;
  z-index: 1;
  
}

.link li:first-child {
  font-weight: 700;
  line-height: 4;
  font-size: 16px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 64px  0 50px 0;
  padding: 0 40px;
}

.footer__img {
  width: 35px;
  filter: grayscale(1) invert(1);
 
}

.footer__logo {
  color: white;
  padding-left: 15px;
  
}

.socials {
  z-index: 1;
  font-weight: 500;
  font-size: 28px;
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
 align-items: center;
}

.social {
  padding: 0 10px;
}

  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.plan__type {

}

.plan__features {}
